/**
 * Modified from https://github.com/sivan/heti
 */
 
.md-typeset .heti-spacing {
  font-size: 0.5em;
}

.md-typeset .heti-spacing-start {
  margin-inline-end: 0.25em;
}

.md-typeset .heti-spacing-end {
  margin-inline-start: 0.25em;
}

.md-typeset heti-adjacent {
  display: inline;
}

.md-typeset .heti-adjacent-half {
  margin-inline-end: -0.5em;
}

.md-typeset .heti-adjacent-quarter {
  margin-inline-end: -0.25em;
}

.md-typeset del .heti-spacing {
  vertical-align: text-top;
}