path[stroke="#000"], g[stroke="#000"] {
  stroke: var(--md-default-fg-color);
}

path[stroke="#fff"], g[stroke="#fff"] {
  stroke: var(--md-default-bg-color);
}

path[fill="#fff"] {
  fill: var(--md-default-bg-color);
}

path:not([fill]) {
  fill: var(--md-default-fg-color);
}