.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #FEFEFE;
    background-clip: border-box;
    border: 0.5px solid #606060;
    border-radius: .25rem;
    margin-bottom: 1em;
}

[data-md-color-scheme="slate"] .card {
    background-color: #181818;
    border: 0.5px solid #606060;
}

.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    min-height: 1px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
}

.card-header {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    padding-top: 0.7rem;
    padding-bottom: 0.25rem;
    margin-bottom: 0;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 600;
}

.card-body ul {
    margin-top: 0;
    margin-bottom: 0;
}

.md-typeset :is(.card-body details) {
    margin-top: 0.25rem;
    margin-bottom: 0;
}